:root {
    --primary: #0024cb;
    --secondary: #f5b01b;
    --tertiary: #ec4416;
    --black: #000000;
    --white: #ffffff;
    --light-grey: #e9e9e8;
    --overlay: #39e5e9;
    --ft-button: #50c9f0;
    --ft-email: #899eff;
    --sky-blue: #25c3c5;
}