.banner {
    position: relative;
    min-height: 1080px;

    .main-content {
        padding-top: 100px;

        @media(max-width: 767px) {
            padding-top: 50px;

        }

        .inner-banner {
            padding: 100px 0;

            @media(max-width: 767px) {
                padding: 20px 0;
            }
        }

        .banner-title {
            font-size: 65px;
            line-height: 1.1;
            color: var(--sky-blue);
            font-weight: 700;

            span {
                color: var(--tertiary);
            }

            .time {
                color: var(--secondary);
            }


            @media(max-width: 767px) {
                font-size: 40px;
                line-height: 42px;
            }
        }

        p {
            padding-top: 30px;
            font-size: 25px;
            line-height: 1.2;
            font-weight: 700;

            @media(max-width: 767px) {
                font-size: 18px;
            }
        }

        .online-image {
            width: 100%;
            max-width: 600px;
        }

        .text-criteria {
            p {
                font-size: 20px;
                font-weight: 500;
                padding-bottom: 15px;


                @media(max-width: 768px) {
                    font-size: 18px;
                }
            }

            ul {
                padding: 0;
                padding-left: 20px;
                padding-bottom: 60px;

                li {
                    font-size: 22px;
                    position: relative;

                    &::before {
                        content: " ";
                        position: absolute;
                        left: -20px;
                        top: 15px;
                        height: 5px;
                        width: 10px;
                        background: url(../images/online-class/-.png);
                    }

                    @media(max-width: 768px) {
                        font-size: 18px;
                    }
                }
            }

            h6 {
                font-size: 20px;
                text-align: center;
                padding-bottom: 20px;


                @media(max-width: 768px) {
                    font-size: 15px;
                }
            }

            .title-add {
                font-size: 32px;
                font-weight: 700;
                line-height: 1.056;


                .sky {
                    color: var(--sky-blue);
                }

                .yell {
                    color: var(--secondary);
                }

                .tertiary {
                    color: var(--tertiary);
                }

                @media(max-width: 768px) {
                    font-size: 22px;
                }
            }
        }

        .feature {
            padding-top: 120px;

            @media(max-width: 768px) {
                padding-top: 50px;
            }

            h3 {
                font-size: 55px;
                color: var(--secondary);
                font-weight: 900;
                line-height: 1.333;
                padding-bottom: 10px;

                @media(max-width: 768px) {
                    font-size: 35px;
                    text-transform: uppercase;
                }
            }

            ul {
                padding: 0;
                padding-left: 20px;
                padding-bottom: 60px;

                li {
                    font-size: 22px;
                    position: relative;
                    font-weight: 500;

                    &::before {
                        content: " ";
                        position: absolute;
                        left: -20px;
                        top: 15px;
                        height: 5px;
                        width: 10px;
                        background: url(../images/online-class/y-.png);
                    }

                    @media(max-width: 768px) {
                        font-size: 18px;
                    }
                }
            }
        }
    }



    .home-section-1-c1 {
        position: absolute;
        top: 13.02vw;
        left: 0;
        z-index: -33;

        @media(min-width: 1200px) {
            top: 1.8vw;
            max-width: 90px;
        }

        @media(max-width: 767px) {
            max-width: 40px;
            top: 45.02vw;
        }
    }

    .home-section-1-t1 {
        position: absolute;
        top: 13.02vw;
        left: 50.35vw;
    }

    .home-section-1-t2 {
        position: absolute;
        bottom: 5vw;
        left: 5.1vw;
    }


    .home-section-1-g1 {
        position: absolute;
        top: 1.02vw;
        right: 0;
        z-index: -1;

        @media(max-width: 1500px) {
            max-width: 320px;
            top: 10.02vw;
        }

        @media(max-width: 768px) {
            max-width: 120px;
            top: 50.02vw;
        }
    }

    .home-section-1-g2 {
        position: absolute;
        bottom: 1.0vw;
        left: 10vw;
        z-index: -1;

        @media(max-width: 768px) {
            max-width: 420px;
            bottom: 80.02vw;
            left: -40vw;
        }
    }
}