.our-team {
    padding-top: 100px;
    padding-bottom: 120px;

    @media(max-width: 992px) {
        padding-bottom: 0;
    }

    .heading {
        font-size: 25px;
        font-weight: 900;
        background: #fff;
        position: relative;
        z-index: 9;
    }

    .left {
        // margin-left: -1050px;

        // @media(max-width: 1599px) {
        //     margin-left: -860px;
        // }

        // @media(max-width: 991px) {
        //     margin-left: -480px;
        // }

        // @media(max-width: 768px) {
        //     margin-left: -250px;
        // }

        // @media(max-width: 450px) {
        //     margin-left: -90px;
        // }

        .swiper {
            width: 100%;
            height: 100%;
            padding-bottom: 220px;

            @media(max-width: 1400px) {
                padding-bottom: 150px;
            }

            @media(max-width: 768px) {
                padding-bottom: 150px;
            }

            @media(max-width: 768px) {
                padding-bottom: 180px;
            }

            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                height: 350px;
                width: 350px;

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: relative;
                }

                .text {
                    visibility: hidden;
                }

                &.swiper-slide-active {
                    .text {
                        visibility: visible;

                        h5 {
                            padding-bottom: 10px;
                            font-size: 28px;
                            font-weight: 700;

                            @media(max-width:767px) {
                                font-size: 16px;
                            }
                        }

                        p {
                            font-size: 22px;

                            @media(max-width:767px) {
                                font-size: 14px;
                            }
                        }
                    }

                    .image {
                        position: relative;

                        &::after {
                            position: absolute;
                            content: '';
                            border-radius: 50px;
                            background: rgb(42, 195, 193);
                            opacity: 0.62;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;


                            @media(max-width: 1399px) {
                                border-radius: 32px;
                            }

                            @media(max-width: 460px) {
                                border-radius: 28px;
                                display: none;
                            }
                        }

                    }
                }
            }

            .swiper-button-next::after {
                font-size: 20px;
            }

            .swiper-button-prev::after {
                font-size: 20px;
            }

            .swiper-button-next {
                top: 520px;
                left: 50px;
                z-index: 99;
                background: var(--sky-blue);
                color: #fff;
                padding: 10px 20px;


                @media(max-width: 1400px) {
                    top: 480px;
                }

                @media(max-width: 450px) {
                    left: calc(50% + 30px);
                    transform: translateX(-50%);
                    top: 470px;
                }

                @media(max-width: 390px) {
                    left: calc(50% + 30px);
                    transform: translateX(-50%);
                    top: 420px;
                }
            }

            .swiper-button-prev {
                top: 520px;
                left: 0px;
                z-index: 99;
                background: var(--sky-blue);
                color: #fff;
                padding: 10px 20px;
                
                @media(max-width: 1400px) {
                    top: 480px;
                }

                @media(max-width: 450px) {
                    left: calc(50% - 30px);
                    transform: translateX(-50%);
                    top: 470px;
                }

                @media(max-width: 390px) {
                    left: calc(50% - 30px);
                    transform: translateX(-50%);
                    top: 420px;
                }
            }
        }
    }
}