.our-journey{
    padding-top: 100px;

    @media(max-width: 768px){
        padding-top: 50px;
    }

    h2{
        font-size: 25px;
        font-weight: 900;
    }

    p{
        font-size: 18px;
    }
}