@charset "UTF-8";
/*=== abstracts css start === */
:root {
  --primary: #0024cb;
  --secondary: #f5b01b;
  --tertiary: #ec4416;
  --black: #000000;
  --white: #ffffff;
  --light-grey: #e9e9e8;
  --overlay: #39e5e9;
  --ft-button: #50c9f0;
  --ft-email: #899eff;
  --sky-blue: #25c3c5;
}

/*===// end of abstracts css === */
/*=== base css start === */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

::after, ::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ol, ul, p, address, strong, i {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul, li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

body {
  font-family: "Manrope", sans-serif;
}

@media screen and (min-width: 1580px) {
  .container {
    max-width: 1400px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    padding-inline: 35px;
  }
}

@media (min-width: 768px) {
  .w-md-50 {
    width: 50%;
  }
}
.top-20 {
  top: 20%;
}

.top-60 {
  top: 60%;
}

.index-m {
  z-index: -88;
}

.connect {
  padding-top: 150px;
}
@media (max-width: 767px) {
  .connect {
    padding-top: 70px;
  }
}
.connect .section-header {
  font-size: 40px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  padding-bottom: 40px;
}
@media (max-width: 767px) {
  .connect .section-header {
    font-size: 20px;
  }
}
.connect .button-connect {
  padding: 10px 25px;
  border-radius: 27px;
  background-color: var(--primary);
  color: var(--white);
  border: none;
}
@media (max-width: 767px) {
  .connect .button-connect {
    padding: 5px 15px;
  }
}

/*===// end of base css === */
/*=== layouts css start === */
.header {
  padding-top: 10px;
}
@media (max-width: 768px) {
  .header .navbar .navbar-brand {
    max-width: 150px;
  }
}
.header .navbar .navbar-nav .nav-item .nav-link {
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #0024cb;
  text-decoration: none;
  border-radius: 25px;
  padding: 0.6vw 1.4vw;
}
.header .navbar .navbar-nav .nav-item .nav-link:hover {
  background-color: var(--primary);
  color: var(--white);
  padding: 0.6vw 1.4vw;
  border-radius: 25px;
}
.header .navbar .navbar-nav .nav-item .nav-link.active {
  background-color: var(--primary);
  color: var(--white);
  padding: 0.6vw 1.4vw;
  border-radius: 25px;
}

.banner {
  position: relative;
  min-height: 1080px;
}
.banner .main-content {
  padding-top: 100px;
}
@media (max-width: 767px) {
  .banner .main-content {
    padding-top: 50px;
  }
}
.banner .main-content .inner-banner {
  padding: 100px 0;
}
@media (max-width: 767px) {
  .banner .main-content .inner-banner {
    padding: 20px 0;
  }
}
.banner .main-content .banner-title {
  font-size: 65px;
  line-height: 1.1;
  color: var(--sky-blue);
  font-weight: 700;
}
.banner .main-content .banner-title span {
  color: var(--tertiary);
}
.banner .main-content .banner-title .time {
  color: var(--secondary);
}
@media (max-width: 767px) {
  .banner .main-content .banner-title {
    font-size: 40px;
    line-height: 42px;
  }
}
.banner .main-content p {
  padding-top: 30px;
  font-size: 25px;
  line-height: 1.2;
  font-weight: 700;
}
@media (max-width: 767px) {
  .banner .main-content p {
    font-size: 18px;
  }
}
.banner .main-content .online-image {
  width: 100%;
  max-width: 600px;
}
.banner .main-content .text-criteria p {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 15px;
}
@media (max-width: 768px) {
  .banner .main-content .text-criteria p {
    font-size: 18px;
  }
}
.banner .main-content .text-criteria ul {
  padding: 0;
  padding-left: 20px;
  padding-bottom: 60px;
}
.banner .main-content .text-criteria ul li {
  font-size: 22px;
  position: relative;
}
.banner .main-content .text-criteria ul li::before {
  content: " ";
  position: absolute;
  left: -20px;
  top: 15px;
  height: 5px;
  width: 10px;
  background: url(../images/online-class/-.png);
}
@media (max-width: 768px) {
  .banner .main-content .text-criteria ul li {
    font-size: 18px;
  }
}
.banner .main-content .text-criteria h6 {
  font-size: 20px;
  text-align: center;
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  .banner .main-content .text-criteria h6 {
    font-size: 15px;
  }
}
.banner .main-content .text-criteria .title-add {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.056;
}
.banner .main-content .text-criteria .title-add .sky {
  color: var(--sky-blue);
}
.banner .main-content .text-criteria .title-add .yell {
  color: var(--secondary);
}
.banner .main-content .text-criteria .title-add .tertiary {
  color: var(--tertiary);
}
@media (max-width: 768px) {
  .banner .main-content .text-criteria .title-add {
    font-size: 22px;
  }
}
.banner .main-content .feature {
  padding-top: 120px;
}
@media (max-width: 768px) {
  .banner .main-content .feature {
    padding-top: 50px;
  }
}
.banner .main-content .feature h3 {
  font-size: 55px;
  color: var(--secondary);
  font-weight: 900;
  line-height: 1.333;
  padding-bottom: 10px;
}
@media (max-width: 768px) {
  .banner .main-content .feature h3 {
    font-size: 35px;
    text-transform: uppercase;
  }
}
.banner .main-content .feature ul {
  padding: 0;
  padding-left: 20px;
  padding-bottom: 60px;
}
.banner .main-content .feature ul li {
  font-size: 22px;
  position: relative;
  font-weight: 500;
}
.banner .main-content .feature ul li::before {
  content: " ";
  position: absolute;
  left: -20px;
  top: 15px;
  height: 5px;
  width: 10px;
  background: url(../images/online-class/y-.png);
}
@media (max-width: 768px) {
  .banner .main-content .feature ul li {
    font-size: 18px;
  }
}
.banner .home-section-1-c1 {
  position: absolute;
  top: 13.02vw;
  left: 0;
  z-index: -33;
}
@media (min-width: 1200px) {
  .banner .home-section-1-c1 {
    top: 1.8vw;
    max-width: 90px;
  }
}
@media (max-width: 767px) {
  .banner .home-section-1-c1 {
    max-width: 40px;
    top: 45.02vw;
  }
}
.banner .home-section-1-t1 {
  position: absolute;
  top: 13.02vw;
  left: 50.35vw;
}
.banner .home-section-1-t2 {
  position: absolute;
  bottom: 5vw;
  left: 5.1vw;
}
.banner .home-section-1-g1 {
  position: absolute;
  top: 1.02vw;
  right: 0;
  z-index: -1;
}
@media (max-width: 1500px) {
  .banner .home-section-1-g1 {
    max-width: 320px;
    top: 10.02vw;
  }
}
@media (max-width: 768px) {
  .banner .home-section-1-g1 {
    max-width: 120px;
    top: 50.02vw;
  }
}
.banner .home-section-1-g2 {
  position: absolute;
  bottom: 1vw;
  left: 10vw;
  z-index: -1;
}
@media (max-width: 768px) {
  .banner .home-section-1-g2 {
    max-width: 420px;
    bottom: 80.02vw;
    left: -40vw;
  }
}

.banner-2 {
  margin-top: -240px;
  padding-bottom: 100px;
  background: url(../images/bgb2.png) no-repeat bottom center/contain;
}
@media (max-width: 767px) {
  .banner-2 {
    margin-top: -290px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .banner-2 img {
    max-width: 220px;
    padding-bottom: 20px;
  }
}
.banner-2 .text p {
  font-size: 22px;
  color: rgb(0, 0, 0);
  line-height: 1.364;
}
@media (max-width: 768px) {
  .banner-2 .text p {
    font-size: 14px;
    padding-bottom: 20px;
  }
}

.career-banner {
  padding-top: 100px;
}
@media (max-width: 767px) {
  .career-banner {
    padding-top: 50px;
  }
}
.career-banner .relative-image {
  position: absolute;
  bottom: -20px;
  right: -10px;
  z-index: -1;
}
.career-banner .title {
  font-size: 55px;
  line-height: 1.1;
  color: var(--sky-blue);
  font-weight: 700;
  padding-bottom: 25px;
}
@media (max-width: 991px) {
  .career-banner .title {
    font-size: 35px;
  }
}
.career-banner .text-section {
  padding-top: 50px;
}
@media (max-width: 991px) {
  .career-banner .text-section {
    padding-top: 0;
  }
}
.career-banner .sub-title {
  font-size: 34px;
  padding-bottom: 25px;
  font-weight: 700;
}
@media (max-width: 991px) {
  .career-banner .sub-title {
    font-size: 20px;
  }
}
.career-banner p {
  font-size: 18px;
  line-height: 1.2;
}
@media (max-width: 767px) {
  .career-banner p {
    font-size: 16px;
    padding-bottom: 20px;
  }
}

.footer {
  padding: 100px 0;
  background: var(--primary);
  color: #fff;
}
@media (max-width: 767px) {
  .footer {
    padding: 60px 0;
  }
}
@media (max-width: 767px) {
  .footer .image img {
    max-width: 160px;
  }
}
.footer .copyright {
  font-size: 18px;
  line-height: 1.556;
}
@media (max-width: 767px) {
  .footer .copyright {
    font-size: 14px;
    text-align: center;
    padding-top: 15px;
  }
}
.footer .get {
  font-size: 18px;
  line-height: 1.2;
  padding-bottom: 20px;
}
.footer h4 {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  padding-bottom: 30px;
}
.footer .input-group input {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 15px;
}
.footer .input-group .btn-sign {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background: var(--sky-blue);
  color: #fff;
  padding: 15px;
}
.footer .social-icon a {
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
  height: 40px;
  width: 40px;
}
@media (max-width: 767px) {
  .footer .social-icon a {
    height: 25px;
    width: 25px;
    margin: 3px;
  }
}
.footer .social-icon a .fab {
  color: var(--primary);
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
@media (max-width: 767px) {
  .footer .social-icon a .fab {
    margin-top: 3px;
    font-size: 18px;
  }
}

/*===// end of layouts css === */
/*=== components css start === */
.technology-solutions {
  margin-top: -240px;
}
@media (max-width: 1400px) {
  .technology-solutions {
    margin-top: -340px;
  }
}
@media (max-width: 1199px) {
  .technology-solutions {
    margin-top: -400px;
  }
}
@media (max-width: 767px) {
  .technology-solutions {
    margin-top: -380px;
  }
}
@media (max-width: 575px) {
  .technology-solutions {
    margin-top: -480px;
  }
}
.technology-solutions .section-header {
  font-size: 40px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  padding-bottom: 40px;
}
@media (max-width: 767px) {
  .technology-solutions .section-header {
    font-size: 20px;
  }
}
.technology-solutions .rate {
  font-size: 22px;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  font-weight: 900;
  padding-bottom: 40px;
}
@media (max-width: 767px) {
  .technology-solutions .rate {
    font-size: 14px;
  }
}
.technology-solutions .r-title {
  font-size: 16px;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  font-weight: 700;
}
@media (max-width: 767px) {
  .technology-solutions .r-title {
    font-size: 12px;
  }
}
.technology-solutions .button-more {
  padding: 10px 15px;
  border-radius: 27px;
  background-color: var(--primary);
  color: var(--white);
  border: none;
}
@media (max-width: 767px) {
  .technology-solutions .button-more {
    padding: 5px 10px;
    font-size: 12px;
  }
}
.technology-solutions .card-catelog {
  border-radius: 30px;
  width: 100%;
  min-height: 494px;
  padding: 35px;
}
@media (max-width: 767px) {
  .technology-solutions .card-catelog {
    padding: 30px 20px;
    min-height: auto;
  }
}
.technology-solutions .card-catelog .header {
  padding-left: 20px;
  margin-bottom: 30px;
  border-left: 5px solid #fff;
}
.technology-solutions .card-catelog .header img {
  max-width: 80px;
  padding-bottom: 15px;
}
@media (max-width: 767px) {
  .technology-solutions .card-catelog .header img {
    max-width: 40px;
  }
}
.technology-solutions .card-catelog .header .title {
  font-size: 22px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  line-height: 1.2;
}
@media (max-width: 767px) {
  .technology-solutions .card-catelog .header .title {
    font-size: 14px;
  }
}
.technology-solutions .card-catelog .contents p,
.technology-solutions .card-catelog .contents li {
  font-size: 16px;
  color: rgb(255, 255, 255);
  line-height: 1.111;
}
@media (max-width: 767px) {
  .technology-solutions .card-catelog .contents p,
.technology-solutions .card-catelog .contents li {
    font-size: 12px;
  }
}
.technology-solutions .card-catelog .contents ul {
  padding-left: 20px;
}
.technology-solutions .card-catelog .contents ul li::before {
  content: "•";
  font-size: 25px;
  font-weight: bold;
  display: inline-block;
  margin-left: -1em;
}
.technology-solutions .card-catelog.L1 {
  background: var(--primary);
}
.technology-solutions .card-catelog.L1 ul li::before {
  color: var(--sky-blue);
}
.technology-solutions .card-catelog.L2 {
  background: var(--tertiary);
}
.technology-solutions .card-catelog.L2 ul li::before {
  color: var(--secondary);
}
.technology-solutions .card-catelog.L3 {
  background: var(--sky-blue);
}
.technology-solutions .card-catelog.L3 header {
  border-left: 5px solid var(--sky-blue);
}
.technology-solutions .card-catelog.L3 ul li::before {
  color: var(--primary);
}
.technology-solutions .card-catelog.L4 {
  background: var(--secondary);
}
.technology-solutions .card-catelog.L4 ul li::before {
  color: var(--tertiary);
}

.it-solutions {
  color: #fff;
  padding: 100px 0;
}
.it-solutions .section-header {
  font-size: 40px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding-bottom: 40px;
}
@media (max-width: 767px) {
  .it-solutions .section-header {
    font-size: 20px;
  }
}
.it-solutions .item-card {
  border-radius: 25px;
  padding: 30px;
}
@media (max-width: 767px) {
  .it-solutions .item-card {
    min-height: 300px;
  }
}
.it-solutions .item-card p {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.273;
}
@media (max-width: 767px) {
  .it-solutions .item-card p {
    font-size: 16px;
    line-height: 1;
    color: #000;
  }
}
.it-solutions .item-card li {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.273;
}
@media (max-width: 767px) {
  .it-solutions .item-card li {
    font-size: 12px;
    line-height: 1;
    color: #000;
  }
}
.it-solutions .item-card ul li::before {
  content: "•";
  font-size: 25px;
  font-weight: bold;
  display: inline-block;
  margin-left: -1em;
}
.it-solutions .item-card.first {
  background: var(--primary);
}
@media (max-width: 767px) {
  .it-solutions .item-card.first {
    background: transparent;
    border: 2px solid var(--secondary);
  }
}
.it-solutions .item-card.second {
  background: var(--sky-blue);
}
@media (max-width: 767px) {
  .it-solutions .item-card.second {
    background: transparent;
    border: 1px solid var(--tertiary);
  }
}

.offerings {
  background: #0024cb;
}
.offerings .offbg {
  padding: 120px 0;
  background: url(../images/bgbqq.png) no-repeat left bottom/cover;
  color: #fff;
}
@media (max-width: 768px) {
  .offerings .offbg {
    padding: 80px 0;
    background: url(../images/bgmob.png) no-repeat bottom center/contain;
  }
}
.offerings .offbg .heading {
  text-align: center;
}
.offerings .offbg .heading h3 {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.056;
  padding-bottom: 40px;
}
.offerings .offbg .heading p {
  font-size: 20px;
  padding-bottom: 80px;
}
@media (max-width: 768px) {
  .offerings .offbg .heading p {
    font-size: 16px;
    padding-bottom: 30px;
  }
}
.offerings .offbg .main-div {
  text-align: center;
}
.offerings .offbg .main-div .image {
  min-height: 130px;
}
@media (max-width: 768px) {
  .offerings .offbg .main-div .image {
    min-height: auto;
    padding-top: 30px;
  }
}
.offerings .offbg .main-div .image img {
  max-width: 110px;
  padding-bottom: 30px;
}
@media (max-width: 768px) {
  .offerings .offbg .main-div .image img {
    padding-bottom: 15px;
  }
}
.offerings .offbg .main-div h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.215;
  padding-bottom: 10px;
}
@media (max-width: 768px) {
  .offerings .offbg .main-div h4 {
    font-size: 18px;
  }
}
.offerings .offbg .main-div p {
  font-size: 17px;
  padding-bottom: 40px;
}
@media (max-width: 768px) {
  .offerings .offbg .main-div p {
    font-size: 15px;
    padding-bottom: 25px;
  }
}
.offerings .offbg .main-div .button-more {
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
}

.our-journey {
  padding-top: 100px;
}
@media (max-width: 768px) {
  .our-journey {
    padding-top: 50px;
  }
}
.our-journey h2 {
  font-size: 25px;
  font-weight: 900;
}
.our-journey p {
  font-size: 18px;
}

.our-mission {
  padding-top: 150px;
}
.our-mission .main {
  border: 5px solid var(--sky-blue);
  border-radius: 40px;
  padding: 70px;
  position: relative;
}
@media (max-width: 768px) {
  .our-mission .main {
    padding: 40px;
    border-radius: 50px;
  }
}
.our-mission .main .topper {
  position: absolute;
  top: -60px;
  background: #fff;
  max-width: 120px;
  padding: 20px;
}
.our-mission .main h2 {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 900;
}
@media (max-width: 768px) {
  .our-mission .main h2 {
    font-size: 25px;
  }
}
.our-mission .main p {
  font-size: 25px;
  color: rgb(116, 116, 116);
  line-height: 1.313;
  font-weight: 600;
}
@media (max-width: 768px) {
  .our-mission .main p {
    font-size: 20px;
    text-align: center;
  }
}

.landmark-section {
  padding-top: 80px;
}
@media (max-width: 768px) {
  .landmark-section {
    padding-top: 50px;
  }
}
.landmark-section .heading {
  font-size: 25px;
  font-weight: 900;
  padding-bottom: 30px;
}
.landmark-section .landmark-years {
  margin: 0 2px;
}
.landmark-section .landmark-year-block {
  flex-grow: 1;
  flex-basis: 0;
  cursor: pointer;
  transition: all 0.4s;
  background: linear-gradient(to right, rgb(232, 237, 239) 0%, rgb(219, 223, 224) 100%);
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
}
@media (max-width: 768px) {
  .landmark-section .landmark-year-block:hover {
    position: absolute;
    width: 280px;
    top: 0;
    left: 20px;
    z-index: 999;
  }
}
.landmark-section .landmark-year-block:hover {
  background-color: #f5f5f5;
  flex-grow: 2;
  padding: 0;
}
.landmark-section .landmark-year-details {
  background-color: blue;
  color: white;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.landmark-section #detail-2020 {
  visibility: visible;
}
.landmark-section #detail-2017,
.landmark-section #detail-2018,
.landmark-section #detail-2019,
.landmark-section #detail-2021,
.landmark-section #detail-2022 {
  visibility: hidden;
}
.landmark-section .detail-info {
  font-size: 16px;
  text-align: left;
}
.landmark-section .detail-year {
  font-size: 28px;
  width: 65%;
  margin: 0 auto;
  border-width: 2px 0;
  border-color: white;
  border-style: solid;
}

.our-team {
  padding-top: 100px;
}
.our-team .heading {
  font-size: 25px;
  font-weight: 900;
  background: #fff;
  position: relative;
  z-index: 9999;
}
.our-team .left {
  margin-left: -1050px;
}
@media (max-width: 1599px) {
  .our-team .left {
    margin-left: -860px;
  }
}
@media (max-width: 991px) {
  .our-team .left {
    margin-left: -480px;
  }
}
@media (max-width: 768px) {
  .our-team .left {
    margin-left: -250px;
  }
}
@media (max-width: 450px) {
  .our-team .left {
    margin-left: -220px;
  }
}
.our-team .left .swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 220px;
}
@media (max-width: 768px) {
  .our-team .left .swiper {
    padding-bottom: 100px;
  }
}
.our-team .left .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 350px;
  width: 350px;
}
.our-team .left .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.our-team .left .swiper .swiper-slide .text {
  visibility: hidden;
}
.our-team .left .swiper .swiper-slide.swiper-slide-active .text {
  visibility: visible;
}
.our-team .left .swiper .swiper-slide.swiper-slide-active .text h5 {
  padding-bottom: 10px;
  font-size: 28px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .our-team .left .swiper .swiper-slide.swiper-slide-active .text h5 {
    font-size: 16px;
  }
}
.our-team .left .swiper .swiper-slide.swiper-slide-active .text p {
  font-size: 22px;
}
@media (max-width: 767px) {
  .our-team .left .swiper .swiper-slide.swiper-slide-active .text p {
    font-size: 14px;
  }
}
.our-team .left .swiper .swiper-slide.swiper-slide-active .image {
  position: relative;
}
.our-team .left .swiper .swiper-slide.swiper-slide-active .image::after {
  position: absolute;
  content: "";
  border-radius: 50px;
  background: rgb(42, 195, 193);
  opacity: 0.62;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 1399px) {
  .our-team .left .swiper .swiper-slide.swiper-slide-active .image::after {
    border-radius: 32px;
  }
}
@media (max-width: 460px) {
  .our-team .left .swiper .swiper-slide.swiper-slide-active .image::after {
    border-radius: 16px;
  }
}
.our-team .left .swiper .swiper-button-next::after {
  font-size: 20px;
}
.our-team .left .swiper .swiper-button-prev::after {
  font-size: 20px;
}
.our-team .left .swiper .swiper-button-next {
  top: 520px;
  left: 1360px;
  z-index: 999;
  background: var(--sky-blue);
  color: #fff;
  padding: 10px;
}
@media (max-width: 1399px) {
  .our-team .left .swiper .swiper-button-next {
    left: 1060px;
    top: 480px;
  }
}
@media (max-width: 768px) {
  .our-team .left .swiper .swiper-button-next {
    left: 460px;
    top: 350px;
  }
}
@media (max-width: 450px) {
  .our-team .left .swiper .swiper-button-next {
    left: 440px;
    top: 300px;
  }
}
@media (max-width: 380px) {
  .our-team .left .swiper .swiper-button-next {
    left: 420px;
    top: 300px;
  }
}
.our-team .left .swiper .swiper-button-prev {
  top: 520px;
  left: 1320px;
  z-index: 999;
  background: var(--sky-blue);
  color: #fff;
  padding: 10px;
}
@media (max-width: 1399px) {
  .our-team .left .swiper .swiper-button-prev {
    left: 1010px;
    top: 480px;
  }
}
@media (max-width: 768px) {
  .our-team .left .swiper .swiper-button-prev {
    left: 420px;
    top: 350px;
  }
}
@media (max-width: 450px) {
  .our-team .left .swiper .swiper-button-prev {
    left: 400px;
    top: 300px;
  }
}
@media (max-width: 380px) {
  .our-team .left .swiper .swiper-button-prev {
    left: 375px;
    top: 300px;
  }
}

.benefits {
  padding: 100px 0;
  color: #ffffff;
}
@media (max-width: 768px) {
  .benefits {
    padding: 50px 0;
  }
}
.benefits .teacher {
  background: var(--sky-blue);
  padding: 120px;
}
@media (max-width: 768px) {
  .benefits .teacher {
    padding: 30px;
  }
  .benefits .teacher img {
    max-width: 180px;
  }
}
.benefits .student {
  background: var(--primary);
  padding: 120px;
}
@media (max-width: 768px) {
  .benefits .student {
    padding: 30px;
  }
  .benefits .student img {
    max-width: 200px;
  }
}
.benefits .title {
  font-size: 60px;
  font-weight: 700;
  padding-top: 40px;
}
@media (max-width: 1400px) {
  .benefits .title {
    font-size: 35px;
  }
}
@media (max-width: 768px) {
  .benefits .title {
    font-size: 30px;
  }
}
.benefits ul {
  padding: 0;
  padding-left: 20px;
  padding-bottom: 60px;
  padding-top: 10px;
}
.benefits ul li {
  font-size: 20px;
  position: relative;
}
.benefits ul li::before {
  content: " ";
  position: absolute;
  left: -20px;
  top: 15px;
  height: 5px;
  width: 10px;
  background: url(../images/online-class/w-.png);
}
@media (max-width: 768px) {
  .benefits ul li {
    font-size: 18px;
  }
}

.current-positions {
  padding-bottom: 100px;
}
@media (max-width: 767px) {
  .current-positions {
    padding-bottom: 50px;
  }
}
.current-positions .content-card {
  padding: 80px;
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 24px 54px 0px rgba(0, 0, 0, 0.08);
}
@media (max-width: 767px) {
  .current-positions .content-card {
    padding: 30px;
  }
}
.current-positions .content-card .main-heading {
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 50px;
}
@media (max-width: 767px) {
  .current-positions .content-card .main-heading {
    font-size: 20px;
    padding-bottom: 20px;
  }
}
.current-positions .content-card .sub-heading {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 30px;
}
.current-positions .content-card .sub-heading.yell {
  color: var(--secondary);
}
@media (max-width: 767px) {
  .current-positions .content-card .sub-heading {
    font-size: 16px;
    padding-bottom: 20px;
  }
}
.current-positions .content-card p {
  font-size: 18px;
  padding-bottom: 30px;
  font-weight: 500;
}
@media (max-width: 767px) {
  .current-positions .content-card p {
    font-size: 16px;
  }
}
.current-positions .content-card ul {
  padding: 0;
  padding-left: 20px;
  padding-bottom: 60px;
  padding-top: 10px;
}
.current-positions .content-card ul li {
  font-size: 18px;
  position: relative;
  margin-bottom: 5px;
}
@media (max-width: 767px) {
  .current-positions .content-card ul li {
    font-size: 14px;
  }
}
.current-positions .content-card ul li::before {
  content: " ";
  position: absolute;
  left: -20px;
  top: 12px;
  height: 5px;
  width: 10px;
  background: url(../images/online-class/y-.png);
}
@media (max-width: 768px) {
  .current-positions .content-card ul li {
    font-size: 18px;
  }
}

.testimonial {
  padding-top: 140px;
}
@media (max-width: 991px) {
  .testimonial {
    padding-top: 60px;
  }
}
.testimonial .heading {
  font-size: 30px;
  font-weight: 900;
  background: #fff;
  position: relative;
  z-index: 9999;
  padding-bottom: 40px;
}
@media (max-width: 991px) {
  .testimonial .heading {
    font-size: 20px;
  }
}
.testimonial .left .swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 200px;
  padding-inline: 10px;
}
@media (max-width: 768px) {
  .testimonial .left .swiper {
    padding-bottom: 50px;
  }
}
.testimonial .left .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 350px;
  width: 350px;
}
.testimonial .left .swiper .swiper-slide .testimonial-card {
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 24px 54px 0px rgba(0, 0, 0, 0.08);
  padding: 35px;
  min-height: 300px;
  position: relative;
}
@media (max-width: 767px) {
  .testimonial .left .swiper .swiper-slide .testimonial-card {
    padding: 20px;
    min-height: 220px;
  }
}
.testimonial .left .swiper .swiper-slide .testimonial-card p {
  font-size: 18px;
  line-height: 1.2;
  text-align: left;
}
@media (max-width: 767px) {
  .testimonial .left .swiper .swiper-slide .testimonial-card p {
    font-size: 14px;
  }
}
.testimonial .left .swiper .swiper-slide .testimonial-card h4 {
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  left: 40px;
  bottom: 30px;
}
@media (max-width: 767px) {
  .testimonial .left .swiper .swiper-slide .testimonial-card h4 {
    font-size: 18px;
  }
}
.testimonial .left .swiper .swiper-button-next::after {
  font-size: 20px;
}
.testimonial .left .swiper .swiper-button-prev::after {
  font-size: 20px;
}
.testimonial .left .swiper .swiper-button-next {
  top: 400px;
  left: 50px;
  z-index: 999;
  background: var(--sky-blue);
  color: #fff;
  padding: 10px;
  height: 35px;
}
@media (max-width: 420px) {
  .testimonial .left .swiper .swiper-button-next {
    left: calc(50% + 20px);
    transform: translateX(-50%);
    top: 300px;
  }
}
.testimonial .left .swiper .swiper-button-prev {
  top: 400px;
  left: 10px;
  z-index: 999;
  background: var(--sky-blue);
  color: #fff;
  padding: 10px;
  height: 35px;
}
@media (max-width: 420px) {
  .testimonial .left .swiper .swiper-button-prev {
    left: calc(50% - 20px);
    transform: translateX(-50%);
    top: 300px;
  }
}

/*===// end of components css === *//*# sourceMappingURL=style.css.map */